<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"/>
    <title>NotABlog • Error</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="xs-12 md-6 mx-auto">
          <div class="error-container">
            <div class="number">500</div>
            <span>Something went wrong :(</span>
            <span>* If you just waited for Heroku to load application, just reload the page, it should be ok.</span>
            <div class="mt-4"><%= button "Go home", to: post_path(@conn, :index), method: :get %><div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
