<div class="d-flex justify-content-between">
  <h1 class="my-4"><%= @post.title %></h1>
  <div>
    <%= button "Edit", to: post_path(@conn, :edit, @post.id), method: :get, class: "mt-4" %>
    <%= button "Delete", to: post_path(@conn, :delete, @post.id), method: :delete, class: "mt-4" %>
  </div>
</div>

<hr>Posted <%= publication_time(@post) %><hr>
<div><%= @post.content %></div>

<%= button "Back", to: post_path(@conn, :index), method: :get, class: "mb-5 mt-5" %>
