.title-input {
  width: 99% !important;
}

.content-input {
  height: 300px;
}

.submit-new-post-container {
  text-align: center;
}

.post-views {
  padding: 0 15px;
  border-left: 1px solid #d1d1d1;
}
