.title-input {
  width: 99% !important;
  background-color: white !important;
  border: 0.1rem solid #d1d1d1 !important;
}

.content-input {
  height: 300px;
}

.submit-new-post-container {
  text-align: center;
}

.content-error {
  margin-left: 5px;
}
